* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}
.h{
  font-size: 30px;
}


.searchBox {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 3rem;
}

#search {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 9999px;
}

#inputBox {
  margin-top: 1rem;
  width: 500px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
}

.infoBox {
  border-radius: 5px;
  border: 1px solid black;
  padding: 2rem;
  margin: 5rem;
  visibility: hidden;
}

.mainPoint {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  flex-direction: row;
  /* margin: 5rem; */
  text-align: center;
  justify-content: center;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cityDetails > h3 {
  text-align: center;
  font-size: 30px;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;


}
.weather-img
{
  width: 100px;
}

.point {
  height: 70px;
  width: 40%;
  padding: 2rem;
  margin: 1.5rem;
  text-align: justify;
  border: 1px solid green;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(50, 143, 156, 0.084);
  border-radius: 8px;
  font-size:20px;
}

.point:hover {
  scale: 1.1So;
}

.weather-body{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  display: none;
}
.weather-body img{
  width: 60%;
}